body {
  background: #0E3254;
}

.secBg {
  background: #fff;
}

.sec01 {
  height: 100vh;
}

.sec01 .videoBox {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sec01 .videoBox video {
  width: 100%;
}

.sec01 .videoBox .videoMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 50, 84, 0.9);
}

.sec01 .videoBox .videoMask h2 {
  margin: 0 auto;
  margin-top: 32rem;
  width: 62.2rem;
  height: 9rem;
  background: url(../imgs/index/sec01_logo.png) no-repeat 0 0;
}

.sec01 .videoBox .videoMask p {
  text-align: center;
}

.sec01 .videoBox .videoMask p:nth-of-type(1) {
  margin-top: 2.4rem;
}

.sec01 .videoBox .videoMask p:nth-of-type(1) strong {
  font-family: 'NotoSansKR-Medium', sans-serif;
  font-size: 5rem;
  line-height: 7.2rem;
  color: #F5F5F5;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec01 .videoBox .videoMask p:nth-of-type(2) {
  margin-top: 8rem;
  font-family: 'NotoSansKR-Thin', sans-serif;
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: #F5F5F5;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec01 .videoBox .videoMask p:nth-of-type(3) {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.4rem solid rgba(243, 245, 246, 0.3);
  border-radius: 3.2rem;
  padding-top: 2rem;
  width: 6.4rem;
  height: 12rem;
}

.sec01 .videoBox .videoMask p:nth-of-type(3) .ico_more {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border: 0.2rem solid rgba(243, 245, 246, 0.3);
  border-radius: 0.2rem;
  width: 0;
  height: 2.4rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.sec02 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30rem;
  height: 117.2rem;
  text-align: center;
}

.sec02 h2 {
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 7.2rem;
  line-height: 8rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec02 h2::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  width: 24rem;
  height: 0.6rem;
  background: #E36D00;
}

.sec02 p {
  margin-bottom: 8rem;
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 2.6rem;
  line-height: 3.8rem;
  color: #8899AA;
}

.sec02 dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8.4rem;
  width: 100%;
  height: 56.6rem;
}

.sec02 dl .sec02_conBox {
  width: 28rem;
  height: 40.2rem;
  background: #8899AA;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sec02 dl .sec02_conBox:nth-of-type(3) {
  background: #EEBE91;
}

.sec02 dl .sec02_conBox:nth-of-type(2), .sec02 dl .sec02_conBox:nth-of-type(4) {
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.sec02 dl dt {
  -webkit-transform: translate(4.6rem, -50%);
          transform: translate(4.6rem, -50%);
  border: 1rem solid #fff;
  border-radius: 100%;
  width: 16.8rem;
  height: 16.8rem;
}

.sec02_conBox:nth-of-type(1) > dt {
  background: url("../imgs/index/sec02_conBox_1.png") no-repeat 50% 50%/105%;
}

.sec02_conBox:nth-of-type(2) > dt {
  background: url("../imgs/index/sec02_conBox_2.png") no-repeat 50% 50%/105%;
}

.sec02_conBox:nth-of-type(3) > dt {
  background: url("../imgs/index/sec02_conBox_3.png") no-repeat 50% 50%/105%;
}

.sec02_conBox:nth-of-type(4) > dt {
  background: url("../imgs/index/sec02_conBox_4.png") no-repeat 50% 50%/105%;
}

.sec02 dl dd {
  -webkit-transform: translateY(-4.2rem);
          transform: translateY(-4.2rem);
}

.sec02 dl dd:nth-of-type(1) {
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #F5F5F5;
}

.sec02 dl dd:nth-of-type(2) {
  margin: 0 auto;
  margin-top: 4rem;
  width: 20rem;
  font-family: 'NotoSansKR-Bold', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #F5F5F5;
}

.sec03 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30rem;
  height: 127.4rem;
}

.sec03 h2 {
  text-align: center;
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 7.2rem;
  line-height: 8rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec03 h2::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  width: 24rem;
  height: 0.6rem;
  background: #E36D00;
}

.sec03 .sec03_bg {
  height: 82.4rem;
  background: url(../imgs/index/sec03_bg.jpg) no-repeat 50% 50%/cover;
}

.sec03 .sec03_bg .ctBox {
  overflow: hidden;
}

.sec03 .sec03_bg .ctBox .sec03_showBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120rem;
  height: 64rem;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120rem;
          flex: 0 0 120rem;
  margin-top: 8rem;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Chassis {
  background: url("../imgs/index/sec03_cons_1.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Body {
  background: url("../imgs/index/sec03_cons_2.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Seat {
  background: url("../imgs/index/sec03_cons_3.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Wheel {
  background: url("../imgs/index/sec03_cons_4.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Chassis {
  background: url("../imgs/index/sec03_cons_1.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Body {
  background: url("../imgs/index/sec03_cons_2.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Seat {
  background: url("../imgs/index/sec03_cons_3.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Wheel {
  background: url("../imgs/index/sec03_cons_4.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Chassis {
  background: url("../imgs/index/sec03_cons_1.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Body {
  background: url("../imgs/index/sec03_cons_2.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Seat {
  background: url("../imgs/index/sec03_cons_3.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Wheel {
  background: url("../imgs/index/sec03_cons_4.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Chassis {
  background: url("../imgs/index/sec03_cons_1.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Body {
  background: url("../imgs/index/sec03_cons_2.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Seat {
  background: url("../imgs/index/sec03_cons_3.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons.Wheel {
  background: url("../imgs/index/sec03_cons_4.png") no-repeat 12rem 0;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12rem;
  width: 50rem;
  height: 50rem;
  background: #E36D00;
  margin-top: 6rem;
  margin-left: 58rem;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons ul .sec03_conTitl {
  margin-left: 4rem;
  font-family: 'NanumSquareB', sans-serif;
  font-size: 4rem;
  line-height: 4.4rem;
  color: #F5F5F5;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons ul .sec03_conTxt {
  margin: 4rem 0 6rem 4rem;
  font-family: 'NanumSquareL', sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #F5F5F5;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons ul .sec03_conMore {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  border: 0.1rem solid #F5F5F5;
  width: 20rem;
  height: 5.6rem;
}

.sec03 .sec03_bg .ctBox .sec03_showBox .sec03_cons ul .sec03_conMore a {
  font-family: 'NanumSquareL', sans-serif;
  font-size: 1.8rem;
  line-height: 5.6rem;
  color: #F5F5F5;
}

.sec03 .sec03_conBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 132rem;
  -webkit-transform: translateY(-30rem);
          transform: translateY(-30rem);
}

.sec03 .sec03_conBtns .sec03_conBtn {
  width: 6rem;
  height: 10rem;
}

.sec03 .sec03_conBtns .sec03_conBtn.sec03_conBtn_prev {
  background: url(../imgs/index/sec03_conBtn.png) no-repeat 0 0;
}

.sec03 .sec03_conBtns .sec03_conBtn.sec03_conBtn_next {
  background: url(../imgs/index/sec03_conBtn.png) no-repeat -6rem 0;
}

.sec03 .sec03_conNavs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 14.4rem;
}

.sec03 .sec03_conNavs .sec03_conNav {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../imgs/index/sec03_conNav.png) no-repeat 0 0;
}

.sec03 .sec03_conNavs .sec03_conNav.on {
  background-position: -2.4rem 0;
}

.sec03 a {
  display: block;
  width: 100%;
  height: 100%;
}

.sec04 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30rem;
  height: 137.6rem;
}

.sec04 .ctBox {
  text-align: center;
}

.sec04 .ctBox h2 {
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 7.2rem;
  line-height: 8rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec04 .ctBox h2::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  width: 24rem;
  height: 0.6rem;
  background: #E36D00;
}

.sec04 .ctBox p {
  margin-bottom: 8rem;
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 2.6rem;
  line-height: 3.8rem;
  color: #8899AA;
}

.sec04 .ctBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 120rem;
  height: 57rem;
}

.sec04 .ctBox ul li {
  padding: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24rem;
          flex: 0 0 24rem;
  width: 24rem;
  height: 24rem;
  background: #4F6A82;
}

.sec04 .ctBox ul li:nth-of-type(n+5) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.sec04 .ctBox ul li .sec04_conBg {
  display: block;
  width: 24rem;
  height: 24rem;
}

.sec04 .ctBox ul li:nth-of-type(1) .sec04_conBg {
  background: url("../imgs/index/sec04_con_1.png") no-repeat 50% 50%/contain;
}

.sec04 .ctBox ul li:nth-of-type(2) .sec04_conBg {
  background: url("../imgs/index/sec04_con_2.png") no-repeat 50% 50%/contain;
}

.sec04 .ctBox ul li:nth-of-type(3) .sec04_conBg {
  background: url("../imgs/index/sec04_con_3.png") no-repeat 50% 50%/contain;
}

.sec04 .ctBox ul li:nth-of-type(4) .sec04_conBg {
  background: url("../imgs/index/sec04_con_4.png") no-repeat 50% 50%/contain;
}

.sec04 .ctBox ul li:nth-of-type(5) .sec04_conBg {
  background: url("../imgs/index/sec04_con_5.png") no-repeat 50% 50%/contain;
}

.sec04 .ctBox ul li:nth-of-type(6) .sec04_conBg {
  background: url("../imgs/index/sec04_con_6.png") no-repeat 50% 50%/contain;
}

.sec04 .ctBox ul li:nth-of-type(7) .sec04_conBg {
  background: url("../imgs/index/sec04_con_7.png") no-repeat 50% 50%/contain;
}

.sec04 .ctBox ul li:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26rem;
          flex: 0 0 26rem;
  padding: 0;
  width: 26rem;
  height: 26rem;
  background: #EEBE91;
}

.sec04 .ctBox ul li:last-child a {
  display: block;
  width: 100%;
  height: 100%;
}

.sec04 .ctBox ul li:last-child a .sec04_more {
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 2.4rem;
  line-height: 24rem;
  color: #4F6A82;
}

main .sec04 .ctBox ul li:hover {
  background: #E36D00;
}
/*# sourceMappingURL=index.css.map */