.sec01 {
  margin-bottom: 17.2rem;
  width: 100%;
  height: 48rem;
  background: url(../imgs/products/products_title_bg.jpg) no-repeat 0 50%/cover fixed;
}

.sec01 .ctBox {
  padding-top: 20rem;
}

.sec01 .ctBox > h2 {
  text-align: center;
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 5rem;
  line-height: 5.5rem;
  color: #F5F5F5;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec01 .ctBox > h2::after {
  display: block;
  content: "";
  margin: 2.4rem auto;
  width: 14rem;
  height: 0.8rem;
  background: #F5F5F5;
}

.sec01 .ctBox > p:nth-of-type(1) {
  text-align: center;
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #F5F5F5;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec01 .ctBox nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0.1rem solid #4F6A82;
  border-bottom: 0.1rem solid #8899AA;
  width: 100%;
  height: 8rem;
  text-align: center;
}

.sec01 .ctBox nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30rem;
          flex: 1 0 30rem;
  background: #F5F5F5;
}

.sec01 .ctBox nav ul li a {
  display: block;
  font-family: 'NanumSquareB', sans-serif;
  font-size: 1.8rem;
  line-height: 8rem;
  color: #0E3254;
}

.sec01 .ctBox nav ul li.on {
  background: #E36D00;
}

.sec01 .ctBox nav ul li.on a {
  color: #F5F5F5;
}

.sec01 .ctBox > p:last-of-type {
  padding-left: 3.4rem;
  height: 5.2rem;
  font-family: 'NanumSquareR', sans-serif;
  font-size: 1.4rem;
  line-height: 5.2rem;
  color: #8899AA;
  background: url(../imgs/company/sec1_ico_home.png) no-repeat 0 40%;
}

.sec01 .ctBox > p:last-of-type span {
  display: inline-block;
  margin-right: 0.8rem;
  height: 5.2rem;
}

.sec02 {
  text-align: center;
}

.sec02 .ctBox h2 {
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 5rem;
  line-height: 5.5rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec02 .ctBox h2::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  width: 12rem;
  height: 0.6rem;
  background: #E36D00;
}

.sec02 .ctBox .sec02_titImg {
  position: relative;
  margin-bottom: 4rem;
  width: 120rem;
  height: 60rem;
  background: url(../imgs/products/products_01/sec02_titImg.png) no-repeat 0 0;
}

.sec02 .ctBox .sec02_titImg .sec02_item1 {
  position: absolute;
  top: 50%;
  left: 37%;
}

.sec02 .ctBox .sec02_titImg .sec02_item2 {
  position: absolute;
  top: 30%;
  left: 60%;
}

.sec02 .ctBox .sec02_titImg svg {
  width: 3.2rem;
  height: 3.2rem;
}

.sec02 .ctBox .sec02_titImg svg .cls-1 {
  fill: none;
  stroke: #e30613;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dasharray: 95;
  -webkit-animation: dash 2s linear infinite;
          animation: dash 2s linear infinite;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 190;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 190;
  }
}

.sec02 .ctBox .sec02_titImg svg .cls-2 {
  fill: red;
}

.sec02 .ctBox p {
  font-family: 'NotoSansKR-Bold', sans-serif;
  font-size: 2.6rem;
  line-height: 3.8rem;
  color: #8899AA;
}

.sec03 {
  padding-top: 8rem;
  margin-bottom: 8rem;
  text-align: center;
}

.sec03 .ctBox h2 {
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 5rem;
  line-height: 5.5rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec03 .ctBox h2::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  width: 12rem;
  height: 0.6rem;
  background: #E36D00;
}

.sec03 .ctBox p {
  margin-bottom: 8rem;
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #8899AA;
}

.sec03 .ctBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec03 .ctBox ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40rem;
          flex: 0 0 40rem;
  height: 40rem;
}

.sec03 .ctBox ul li:nth-of-type(1) {
  background: url("../imgs/products/products_01/sec03_1.png") no-repeat 50% 50%;
}

.sec03 .ctBox ul li:nth-of-type(2) {
  background: url("../imgs/products/products_01/sec03_2.png") no-repeat 50% 50%;
}

.sec03 .ctBox ul li:nth-of-type(3) {
  background: url("../imgs/products/products_01/sec03_3.png") no-repeat 50% 50%;
}

.sec03 .ctBox ul li:nth-of-type(4) {
  background: url("../imgs/products/products_01/sec03_4.png") no-repeat 50% 50%;
}

.sec03 .ctBox ul li:nth-of-type(5) {
  background: url("../imgs/products/products_01/sec03_5.png") no-repeat 50% 50%;
}

.sec03 .ctBox ul li .sec03_mask {
  display: block;
  width: 40rem;
  height: 40rem;
  opacity: 0.2;
}

.sec03 .ctBox ul li:nth-of-type(odd) span {
  background: #0E3254;
}

.sec03 .ctBox ul li:nth-of-type(even) span {
  background: #8899AA;
}

.sec04 {
  margin-bottom: 10rem;
  padding-top: 8rem;
  text-align: center;
}

.sec04 .ctBox h2 {
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 5rem;
  line-height: 5.5rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec04 .ctBox h2::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  width: 12rem;
  height: 0.6rem;
  background: #E36D00;
}

.sec04 .ctBox p {
  margin-bottom: 8rem;
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #8899AA;
}

.sec04 .ctBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec04 .ctBox ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30rem;
          flex: 0 0 30rem;
  height: 30rem;
}

.sec04 .ctBox ul li:nth-of-type(1) {
  background: url("../imgs/products/products_01/sec04_1.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li:nth-of-type(2) {
  background: url("../imgs/products/products_01/sec04_2.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li:nth-of-type(3) {
  background: url("../imgs/products/products_01/sec04_3.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li:nth-of-type(4) {
  background: url("../imgs/products/products_01/sec04_4.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li:nth-of-type(5) {
  background: url("../imgs/products/products_01/sec04_5.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li:nth-of-type(6) {
  background: url("../imgs/products/products_01/sec04_6.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li:nth-of-type(7) {
  background: url("../imgs/products/products_01/sec04_7.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li:nth-of-type(8) {
  background: url("../imgs/products/products_01/sec04_8.png") no-repeat 50% 50%;
}

.sec04 .ctBox ul li .sec04_mask {
  display: block;
  width: 30rem;
  height: 30rem;
  opacity: 0.2;
}

.sec04 .ctBox ul li.sec04_c1 span {
  background: #0E3254;
}

.sec04 .ctBox ul li.sec04_c3 span {
  background: #8899AA;
}

.sec03_mask,
.sec04_mask {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sec03_mask::after,
.sec04_mask::after {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 0;
  height: 100%;
  background: #E36D00;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sec03_mask:hover::after,
.sec04_mask:hover::after {
  width: 100%;
}
/*# sourceMappingURL=products_01.css.map */