.sec01 {
  margin-bottom: 17.2rem;
  width: 100%;
  height: 48rem;
  background: url(../imgs/support/support_title_bg.png) no-repeat 0 0/cover fixed;
}

.sec01 .ctBox {
  padding-top: 20rem;
}

.sec01 .ctBox > h2 {
  text-align: center;
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 5rem;
  line-height: 5.5rem;
  color: #F5F5F5;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec01 .ctBox > h2::after {
  display: block;
  content: "";
  margin: 2.4rem auto;
  width: 14rem;
  height: 0.8rem;
  background: #F5F5F5;
}

.sec01 .ctBox > p:nth-of-type(1) {
  text-align: center;
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #F5F5F5;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec01 .ctBox nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0.1rem solid #4F6A82;
  border-bottom: 0.1rem solid #8899AA;
  width: 100%;
  height: 8rem;
  text-align: center;
}

.sec01 .ctBox nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40rem;
          flex: 1 0 40rem;
  background: #F5F5F5;
}

.sec01 .ctBox nav ul li a {
  display: block;
  font-family: 'NanumSquareB', sans-serif;
  font-size: 1.8rem;
  line-height: 8rem;
  color: #0E3254;
}

.sec01 .ctBox nav ul li.on {
  background: #E36D00;
}

.sec01 .ctBox nav ul li.on a {
  color: #F5F5F5;
}

.sec01 .ctBox > p:last-of-type {
  padding-left: 3.4rem;
  height: 5.2rem;
  font-family: 'NanumSquareR', sans-serif;
  font-size: 1.4rem;
  line-height: 5.2rem;
  color: #8899AA;
  background: url(../imgs/company/sec1_ico_home.png) no-repeat 0 40%;
}

.sec01 .ctBox > p:last-of-type span {
  display: inline-block;
  margin-right: 0.8rem;
  height: 5.2rem;
}

.sec02 .ctBox h2 {
  text-align: center;
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 5rem;
  line-height: 5.5rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec02 .ctBox h2::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  width: 12rem;
  height: 0.6rem;
  background: #E36D00;
}

.sec02 .ctBox h2::after {
  margin-bottom: 8rem;
}

.sec02 .ctBox .sec02_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8rem;
  text-align: center;
}

.sec02 .ctBox .sec02_tab li {
  width: 60rem;
  height: 8.3rem;
}

.sec02 .ctBox .sec02_tab li a {
  font-family: 'NanumSquareR', sans-serif;
  font-size: 2.4rem;
  line-height: 8.3rem;
  color: #0E3254;
}

.sec02 .ctBox .sec02_tab li span {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0.2rem;
  background: #0E3254;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.sec02 .ctBox .sec02_tab li.on a {
  font-family: 'NanumSquareEB', sans-serif;
  font-size: 3.2rem;
  line-height: 8.3rem;
  color: #0E3254;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.sec02 .ctBox .sec02_tab li.on span {
  width: 20rem;
}

.sec02 .ctBox .sec02_mapArea {
  margin-bottom: 4rem;
  padding: 0.8rem;
  width: 120rem;
  height: 60rem;
  background: #8899AA;
}

.sec02 .ctBox .sec02_mapArea .sec02_map {
  width: 100%;
  height: 100%;
}

.sec02 .ctBox .sec02_mapArea .sec02_map .sec02_MapMarker {
  position: relative;
  left: 7.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.sec02 .ctBox .sec02_addressBox {
  margin-bottom: 10rem;
}

.sec02 .ctBox .sec02_addressBox div {
  display: none;
}

.sec02 .ctBox .sec02_addressBox div.on {
  height: 13.2rem;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec02 .ctBox .sec02_addressBox div.on .sec02_location {
  text-align: center;
  width: 28rem;
  font-family: 'NotoSansKR-Bold', sans-serif;
  font-size: 1.8rem;
  line-height: 13.2rem;
  color: #0E3254;
}

.sec02 .ctBox .sec02_addressBox div.on .sec02_address {
  padding: 4rem 0 0 4rem;
  width: 92rem;
  font-family: 'NotoSansKR-Regular', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #8899AA;
}
/*# sourceMappingURL=support_02.css.map */