@mixin font-(
    $f:13,
    $s:1.8rem,
    $h:1.8rem,
    $c:1,
    $ts:0
    ){
        @if($f == 11){// font-family 10 = NotoSansKR, 20 = NanumSquareOTF
            font-family: 'NotoSansKR-Thin', sans-serif;
        }@else if($f == 12){
            font-family: 'NotoSansKR-Light', sans-serif;
        }@else if($f == 13){
            font-family: 'NotoSansKR-Regular', sans-serif;
        }@else if($f == 14){
            font-family: 'NotoSansKR-Medium', sans-serif;
        }@else if($f == 15){
            font-family: 'NotoSansKR-Bold', sans-serif;
        }@else if($f == 16){
            font-family: 'NotoSansKR-Black', sans-serif;
        }@else if($f == 21){
            font-family: 'NanumSquareL', sans-serif;
        }@else if($f == 22){
            font-family: 'NanumSquareR', sans-serif;
        }@else if($f == 23){
            font-family: 'NanumSquareB', sans-serif;
        }@else if($f == 24){
            font-family: 'NanumSquareEB', sans-serif;
        }
        font-size: $s;// font-size
        line-height: $h;// line-height
        @if($c == 1){// color
            color: #0E3254;
        }
        @else if($c == 2){
            color: #4F6A82;
        }
        @else if($c == 3){
            color: #8899AA;
        }
        @else if($c == 4){
            color: #F5F5F5
        }
        @if($ts == 1){// text-shadow
            text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.5);
        }
}
//thin 100, light 300, regular 400, medium 500, bold 700, black 900
//@include font-($f:, $s:, $h:, $c:, $ts:);

$c1:#0E3254;
$c2:#4F6A82;
$c3:#8899AA;
$c4:#F5F5F5;
$c5:#E36D00;
$c6:#EEBE91;


header{
    position: fixed; top: 0;
    z-index: 100;
    overflow: hidden;
    width: 100vw; height: 8rem;
    background: rgba(14,50,84,0.5);
}


header>.ctBox{
    display: flex;
    text-align: center;
    h1{
        margin-right: 10rem;
        width: 14rem; height: 8rem;
        background: url(../imgs/header/logo.png) no-repeat 50% 50%;
        a{
            display: block;
            width: 14rem; height: 8rem;
        }
    }
    >nav{
        width: calc(100% - 24rem);
        >ul{
            display: flex;
            justify-content: space-between;
            .headerNavDep1{
                width: calc(100% / 5); height: 8rem;
                a{
                    display: block;
                    @include font-($f:24, $c:4, $h:8rem, $ts:1);
                }
                ul{
                    .headerNavDep2{
                        a{
                            @include font-($f:21, $c:4, $h:6rem, $ts:1);
                        }
                    }
                }
            }
        }
    }
}

//이벤트
header{
    transition: height 0.3s linear;
    div.headerCurtain{ //script로 생성된 element
        position: absolute; top: 0; left: 0; z-index: -1;
        width: 100%; height: 0rem;
        background: $c1;
        transition: height 0.4s linear;
    }
    div.headerBg{
        position: absolute; bottom: 0; left: 0; z-index: -2;
        width: 100%; height: 0rem;
        background: $c3;
    }
    nav{
        ul{
            .headerNavDep1{
                a:hover{
                    color: $c5;
                }
                ul{
                    .headerNavDep2{
                        a:hover{
                            color: $c6;
                        }
                        position: relative;
                        &::after{
                            position: absolute; bottom: 0; left: 50%;
                            transform: translateX(-50%);
                            content: "";
                            width: 0; height: 0.4rem;
                            background: $c5;
                            transition: width 0.3s ease;
                        }
                        &:hover{
                            color: $c6;
                            &::after{
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
    }
}