@mixin titlUnderLine-(){
    &::after{
        display: block;
        content: "";
        margin: 2.4rem auto;
        width: 14rem; height: 0.8rem;
        background: $c4;
    }
};

@mixin underLine-(){
    &::after{
        display: block;
        content: "";
        margin: 0 auto;
        margin-top: 2.4rem;
        margin-bottom: 4rem;
        width: 12rem; height: 0.6rem;
        background: $c5;
    }
};

@mixin font-(
    $f:13,
    $s:1.8rem,
    $h:1.8rem,
    $c:1,
    $ts:0
    ){
        @if($f == 11){// font-family 10 = NotoSansKR, 20 = NanumSquareOTF
            font-family: 'NotoSansKR-Thin', sans-serif;
        }@else if($f == 12){
            font-family: 'NotoSansKR-Light', sans-serif;
        }@else if($f == 13){
            font-family: 'NotoSansKR-Regular', sans-serif;
        }@else if($f == 14){
            font-family: 'NotoSansKR-Medium', sans-serif;
        }@else if($f == 15){
            font-family: 'NotoSansKR-Bold', sans-serif;
        }@else if($f == 16){
            font-family: 'NotoSansKR-Black', sans-serif;
        }@else if($f == 21){
            font-family: 'NanumSquareL', sans-serif;
        }@else if($f == 22){
            font-family: 'NanumSquareR', sans-serif;
        }@else if($f == 23){
            font-family: 'NanumSquareB', sans-serif;
        }@else if($f == 24){
            font-family: 'NanumSquareEB', sans-serif;
        }
        font-size: $s;// font-size
        line-height: $h;// line-height
        @if($c == 1){// color
            color: #0E3254;
        }
        @else if($c == 2){
            color: #4F6A82;
        }
        @else if($c == 3){
            color: #8899AA;
        }
        @else if($c == 4){
            color: #F5F5F5
        }
        @if($ts == 1){// text-shadow
            text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.5);
        }
}
//thin 100, light 300, regular 400, medium 500, bold 700, black 900
//@include font-($f:, $s:, $h:, $c:, $ts:);

$c1:#0E3254;
$c2:#4F6A82;
$c3:#8899AA;
$c4:#F5F5F5;
$c5:#E36D00;
$c6:#EEBE91;

//section01 --------------------------------------------------
.sec01{
    margin-bottom: 17.2rem;
    width: 100%; height: 48rem;
    background: url(../imgs/rnd/rnd_title_bg.png) no-repeat 0 50%/cover fixed;
    .ctBox{
        padding-top: 20rem;
        >h2{
            text-align: center;
            @include font-($f:24, $s:5rem, $c:4, $h:5.5rem, $ts:1);
            @include titlUnderLine-();
        }
        >p:nth-of-type(1){
            text-align: center;
            @include font-($s:1.8rem, $c:4, $h:2.6rem, $ts:1);
        }
        nav{
            ul{
                display: flex;
                margin-top: 10.3rem;
                box-sizing: border-box;
                border-top: 0.1rem solid $c2;
                border-bottom: 0.1rem solid $c3;
                width: 100%; height: 8rem;
                text-align: center;
                li{
                    flex: 1 0 40rem;
                    background: $c4;
                    a{
                        display: block;
                        @include font-($f:23, $s:1.8rem, $c:1, $h:8rem);
                    }
                    &.on{
                        background: $c5;
                        a{
                            color: $c4;
                        }
                    }
                }
            }
        }
        >p:last-of-type{
            padding-left: 3.4rem;
            height: 5.2rem;
            @include font-($f:22, $s:1.4rem, $c:3, $h:5.2rem);
            background: url(../imgs/company/sec1_ico_home.png) no-repeat 0 40%;
            span{
                display: inline-block;
                margin-right: 0.8rem;
                height: 5.2rem;
            }
        }
    }
}
//section01 end --------------------------------------------------

//section02 --------------------------------------------------
.sec02{
    margin-bottom: 8rem;
    .ctBox{
        h2{
            text-align: center;
            @include font-($f:24, $s:5rem, $c:1, $h:5.5rem, $ts:1);
            @include underLine-();
        }
        .sec02_imgBox{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 8rem;
            width: 112rem; height: 40rem;
            li{
                flex: 0 0 25rem;
                background: url(../imgs/rnd/rnd_02/sec02_imgBox.png) no-repeat 0 65%/112rem;
                @for $i from 1 through 4{
                    &:nth-of-type(#{$i}){
                        $temp: -29;
                        background-position-x: #{$temp * ($i - 1)}rem;
                    }
                }
                .sec02_mask{
                    display: block;
                    box-sizing: border-box;
                    width: 25rem; height: 40rem;
                    background: rgba(14,50,84,0.5);
                    text-align: center;
                    @include font-($f:15, $s:2.6rem, $c:4, $h:3.8rem);
                    em{
                        display: block;
                        transform: translateY(calc(20rem - 50%));
                    }
                }                
            }
        }
        .sec02_txtBox{
            box-sizing: border-box;
            padding: 4rem;
            width: 120rem; height: 21rem;
            background: $c4;
            li{
                @include font-($s:1.8rem, $c:3, $h:2.6rem);
            }
        }
        
    }
}
//section02 end --------------------------------------------------

//section03 --------------------------------------------------
.sec03{
    margin-bottom: 8rem;
    .ctBox{
        h2{
            text-align: center;
            @include font-($f:24, $s:5rem, $c:1, $h:5.5rem, $ts:1);
            @include underLine-();
        }
        .sec03_imgBox{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 8rem;
            width: 112rem; height: 40rem;
            li{
                flex: 0 0 54rem;
                background: url(../imgs/rnd/rnd_02/sec03_imgBox.png) no-repeat 0 50%/112rem;
                @for $i from 1 through 4{
                    &:nth-of-type(#{$i}){
                        $temp: -58;
                        background-position-x: #{$temp * ($i - 1)}rem;
                    }
                }
                .sec03_mask{
                    display: block;
                    box-sizing: border-box;
                    width: 54rem; height: 40rem;
                    background: rgba(14,50,84,0.5);
                    text-align: center;
                    @include font-($f:15, $s:2.6rem, $c:4, $h:3.8rem);
                    em{
                        display: block;
                        transform: translateY(calc(20rem - 50%));
                    }
                }                
            }
        }
        .sec03_txtBox{
            box-sizing: border-box;
            padding: 4rem;
            width: 120rem; height: 21rem;
            background: $c4;
            li{
                @include font-($s:1.8rem, $c:3, $h:2.6rem);
            }
        }
        
    }
}
//section03 end --------------------------------------------------

//section04 --------------------------------------------------
.sec04{
    margin-bottom: 10rem;
    .ctBox{
        h2{
            text-align: center;
            @include font-($f:24, $s:5rem, $c:1, $h:5.5rem, $ts:1);
            @include underLine-();
        }
        .sec04_imgBox{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 8rem;
            width: 112rem; height: 40rem;
            li{
                flex: 0 0 25rem;
                background: url(../imgs/rnd/rnd_02/sec04_imgBox.png) no-repeat 0 50%;
                @for $i from 1 through 4{
                    &:nth-of-type(#{$i}){
                        $temp: -29;
                        background-position-x: #{$temp * ($i - 1)}rem;
                    }
                }
                .sec04_mask{
                    display: block;
                    box-sizing: border-box;
                    width: 25rem; height: 40rem;
                    background: rgba(14,50,84,0.5);
                    text-align: center;
                    @include font-($f:15, $s:2.6rem, $c:4, $h:3.8rem);
                    em{
                        display: block;
                        transform: translateY(calc(20rem - 50%));
                    }
                }                
            }
        }
        .sec04_txtBox{
            box-sizing: border-box;
            padding: 4rem;
            width: 120rem; height: 21rem;
            background: $c4;
            li{
                @include font-($s:1.8rem, $c:3, $h:2.6rem);
            }
        }
        
    }
}
//section04 end --------------------------------------------------

//mask 이벤트 --------------------------------------------------
.sec02_mask, .sec03_mask, .sec04_mask{
    position: relative;
    transition: all 0.3s ease;
    &::after{
        position: absolute; top: 0; left: 50%; z-index: 0;
        transform: translateX(-50%);
        content: "";
        width: 0; height: 100%;
        background: $c5; opacity: 0.5;
        transition: all 0.5s ease;
    }
    &:hover{
        &::after{
            width: 100%;
        }
    }
}