@mixin font_(
    $f:11,
    $s:1.8rem,
    $h:1.2,
    $c:1,
    ){
        @if($f == 11){// font-family 10 = NotoSansKR, 20 = Roboto
            font-family: 'NotoSansKR-Thin', sans-serif;
        }@else if($f == 19){
            font-family: 'NotoSansKR-Black', sans-serif;
        }@else if($f == 21){
            font-family: 'Roboto-Thin', sans-serif;
        }@else if($f == 24){
            font-family: 'Roboto-Regular', sans-serif;
        }@else if($f == 29){
            font-family: 'Roboto-Black', sans-serif;
        }
        font-size: $s;// font-size
        line-height: $h;// line-height
        @if($c == 1){// color
            color: #3f3f3f;
        }
        @else if($c == 2){
            color: #dddddd;
        }
        @else if($c == 3){
            color: #808080;
        }
}
//thin 100, light 300, regular 400, medium 500, bold 700, black 900
//@include font-($f:, $s:, $h:, $c:);

//#3F3F3F
$c1:rgba(63,63,63,1);
$c1_5:rgba(63,63,63,0.5);
//#808080
$c2:rgba(128,128,128,1);
$c2_5:rgba(128,128,128,0.5);
//#DDDDDD
$c3:rgba(221,221,221,1);
$c3_5:rgba(221,221,221,0.5);
//#090909
$c4:rgba(9,9,9,1);
$c4:rgba(9,9,9,0.5);

footer{
    position: fixed; z-index: 400; top: 0; left: 0;
    width: calc(5vw - 1px); height: 100vh;
    p{
        position: absolute; bottom: -2.4rem; left: 5vw;
        width: 30rem; height: 4rem;
        transform-origin: top left;
        transform: translate(-5.2rem,0) rotate(-90deg);
        @include font-($s:2rem, $c:3);
    }
}