main {
  width: 100%;
}

main .centerBox {
  margin: 0 auto;
  width: 160rem;
}

main > h1 {
  margin: 20rem auto 3.2rem auto;
  width: 160rem;
  font-family: 'NotoSansKR-Thin', sans-serif;
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: black;
}

.sec01 > .centerBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem 0 0 0;
  height: 40rem;
  text-align: center;
  background: url(../imgs/cart/aside_bg.jpg) no-repeat 0 0;
}

.sec01 > .centerBox .sec01_logo {
  margin: 0 auto;
  width: 60rem;
  height: 13rem;
  background: url(../imgs/cart/sec01_logo.png) no-repeat 0 0;
}

.sec01 > .centerBox .sec01_line1 {
  position: relative;
  font-family: 'NotoSansKR-Thin', sans-serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.5);
}

.sec01 > .centerBox .sec01_line1::after {
  position: absolute;
  top: 180%;
  left: calc(50% - 13rem);
  content: "";
  width: 26rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.sec01 > .centerBox .sec01_line2 {
  margin: 6rem 0 6.4rem 0;
}

.sec01 > .centerBox .sec01_line2 em {
  font-family: 'ChosunBg', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: rgba(255, 255, 255, 0.7);
}

.sec01 > .centerBox a {
  font-family: 'NotoSansKR-Thin', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

.sec02 {
  margin-bottom: 10rem;
}

.sec02 .sec02_category {
  margin-top: 10rem;
  font-family: 'NotoSansKR-Medium', sans-serif;
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: black;
}

.sec02 .sec02_category .sec02_dep1 {
  margin-top: 3.2rem;
}

.sec02 .sec02_category .sec02_dep1 .sec02_dep1_products {
  height: 20rem;
  border-bottom: 1px solid #eee;
}

.sec02 .sec02_category .sec02_dep2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_img {
  font-size: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  text-align: center;
  line-height: 20rem;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_img img {
  vertical-align: middle;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_tit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42rem;
          flex: 0 0 42rem;
  margin: 0 2rem;
  font-family: 'NotoSansKR-Medium', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: black;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_price {
  font-family: 'NotoSansKR-Light', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: black;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_qttBtn {
  font-family: 'NotoSansKR-Medium', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: white;
  color: #4d4d4d;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_qttBtn span {
  display: inline-block;
  vertical-align: middle;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_qttBtn .sec02_products_qttBtn_top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid #eee;
  width: 3rem;
  height: 4.8rem;
  font-size: 0;
  line-height: 0;
  background: url(../imgs/cart/sec02_products_qttBtn_top.png) no-repeat 50% 50%;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_qttBtn .sec02_products_qttBtn_up {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid #eee;
  width: 3rem;
  height: 4.8rem;
  font-size: 0;
  line-height: 0;
  background: url(../imgs/cart/sec02_products_qttBtn_up.png) no-repeat 50% 50%;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_qttBtn .sec02_products_qttBtn_count {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 1.6rem;
  border: 0.1rem solid #eee;
  width: 10.8rem;
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_qttBtn .sec02_products_qttBtn_down {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid #eee;
  width: 3rem;
  height: 4.8rem;
  font-size: 0;
  line-height: 0;
  background: url(../imgs/cart/sec02_products_qttBtn_down.png) no-repeat 50% 50%;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_qttBtn .sec02_products_qttBtn_bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid #eee;
  width: 3rem;
  height: 4.8rem;
  font-size: 0;
  line-height: 0;
  background: url(../imgs/cart/sec02_products_qttBtn_bottom.png) no-repeat 50% 50%;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_priceSum {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10rem;
          flex: 0 0 10rem;
  text-align: center;
  font-family: 'NotoSansKR-Medium', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: black;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_remove {
  width: 4.8rem;
}

.sec02 .sec02_category .sec02_dep2 .sec02_products_remove span {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid #eee;
  font-size: 0;
  line-height: 0;
  width: 4.8rem;
  height: 4.8rem;
  background: url(../imgs/cart/sec02_products_remove.png) no-repeat 50% 50%;
}

.sec02 .sec02_summary dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  width: 52rem;
  font-family: 'NotoSansKR-Light', sans-serif;
  font-size: 2.4rem;
  line-height: 6rem;
  color: black;
}

.sec02 .sec02_summary dl strong {
  font-family: 'NotoSansKR-Bold', sans-serif;
}

.sec02 .sec02_summary dl dt {
  width: 14rem;
}

.sec02 .sec02_summary dl dd {
  width: 38rem;
  text-align: right;
}

.sec02 .sec02_btn_buy {
  margin: 8rem auto;
  width: 20rem;
  height: 6rem;
  text-align: center;
  border: 0.1rem solid #000;
}

.sec02 .sec02_btn_buy a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'NotoSansKR-Light', sans-serif;
  font-size: 1.6rem;
  line-height: 6rem;
  color: black;
}

body main .sec02 .centerBox .sec02_category .sec02_dep1 .sec02_dep1_products .sec02_dep2 .sec02_products_qttBtn > span:not(:nth-child(3)):hover, body main .sec02 .centerBox .sec02_category .sec02_dep1 .sec02_dep1_products .sec02_dep2 .sec02_products_remove > span:not(:nth-child(3)):hover {
  border: 0.1rem solid #C7B8A3;
}

.sec02 .centerBox .sec02_btn_buy {
  position: relative;
  overflow: hidden;
}

.sec02 .centerBox .sec02_btn_buy::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8f7247;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sec02 .centerBox .sec02_btn_buy:hover::after {
  top: 0;
}

.centerBox .sec02_doAlertCartEmpty {
  margin: 10rem auto;
  width: 100%;
  text-align: center;
}

.centerBox .sec02_doAlertCartEmpty > p:first-child {
  font-family: 'NotoSansKR-Thin', sans-serif;
  font-size: 12rem;
  line-height: 16rem;
  color: black;
}

.centerBox .sec02_doAlertCartEmpty > p:last-child {
  position: relative;
  overflow: hidden;
  margin: 8rem auto;
  width: 20rem;
  height: 6rem;
  text-align: center;
  border: 0.1rem solid #000;
}

.centerBox .sec02_doAlertCartEmpty > p:last-child a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'NotoSansKR-Light', sans-serif;
  font-size: 1.6rem;
  line-height: 6rem;
  color: black;
}

.centerBox .sec02_doAlertCartEmpty > p:last-child::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8f7247;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.centerBox .sec02_doAlertCartEmpty > p:last-child:hover::after {
  top: 0;
}
/*# sourceMappingURL=cart.css.map */